<form method="post" > 
  <div class="mt-4">
     
    <label for="search-input">từ khóa</label>
    <input type="text" name="q" class="form-control" id="search-input"  placeholder="nhập vào">
    
  </div>
  
 
  <button type="submit" class="btn btn-primary">Submit</button>
</form>